body {
  background-color: rgb(217, 202, 173);
  padding: 0px;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Logo til venstre og menu til højre */
  align-items: center;
  color: #323131;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 1000;
}

header span,
header button {
  font-size: 3cqw;
  font-family: poppins;
}

#menuButton {
  background: none;
  border: none;
  color: #323131;
  cursor: pointer;
  font-size: 3cqw;
  font-family: poppins;
  width: 10%;
  margin-top: 3%;
}

.booking-container {
  display: flex;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  top: 50px;
}

.booking-image {
  flex: 2;
  background: url("img/blomster.webp") center/cover no-repeat;
}
.booking-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  top: 20px;
  left: 0;
  opacity: 90%;
}

.booking-form {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translateY(-50%);
  background-color: #d4d4b4b0;
  color: #fdf4ab;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
}

.booking-form h2 {
  font-family: "Playfair Display", serif;
  color: var(--tekstfarve);
  font-weight: bold;
  font-size: 14cqw;
  margin-bottom: 30px;
  color: #d91414;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: normal;
  color: #d1414d;
  font-family: poppins;
}

select,
input,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  font-size: 3cqw;
}

select,
input {
  background-color: #d4d4b4bf;
  color: #323131;
  border-radius: 15px;
}

.guest-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.guest-input button {
  background-color: #d4d4b4eb;
  color: #323131;
  border: 1px solid #979780;
  padding: 5px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.guest-input input {
  text-align: center;
  width: 70px;
}

.continue-btn {
  background-color: #d1414db3;
  color: #fdf4ab;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.book-btn {
  background-color: #d1414db3;
  color: #fdf4ab;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .booking-container {
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    top: 50px;
  }

  .booking-image {
    flex: 2;
    background: url("img/blomster.webp") center/cover no-repeat;
  }
  .booking-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 50px;
    left: 0;
  }

  .booking-form {
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translateY(-50%);
    background-color: #d4d4b4b0;
    color: #fdf4ab;
    padding: 30px;
    width: 30%;
  }
  .booking-form h2 {
    font-family: "Playfair Display", serif;
    color: var(--tekstfarve);
    font-weight: bold;
    font-size: 6cqw;
    margin-bottom: 70px;
    color: #d91414;
  }

  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: normal;
    color: #d1414d;
    font-family: poppins;
  }

  select,
  input,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    font-size: 1cqw;
  }

  select,
  input {
    background-color: #d4d4b4bf;
    color: #323131;
    border-radius: 15px;
  }

  .guest-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .guest-input button {
    background-color: #d4d4b4eb;
    color: #323131;
    border: 1px solid #979780;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 5px;
  }

  .guest-input input {
    text-align: center;
    width: 70px;
  }

  .continue-btn {
    background-color: #d1414db3;
    color: #fdf4ab;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }

  .book-btn {
    background-color: #d1414db3;
    color: #fdf4ab;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  header span,
  header button {
    font-size: 1.5cqw;
    font-family: poppins;
  }

  #menuButton {
    background: none;
    border: none;
    color: #323131;
    cursor: pointer;
    font-size: 1.5cqw;
    font-family: poppins;
    width: 10%;
    margin-top: 1.5%;
  }

  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Logo til venstre og menu til højre */
    align-items: center;
    color: #323131;
  }
}
