/* BILLEDER */

.image-1 {
  background-image: url(../img/retsaurant/IMG_1313.webp);
}

.image-2 {
  background-image: url(../img/lanterns/IMG_1281.webp);
}

.image-3 {
  background-image: url(../img/portrait/IMG_1311_edit.webp);
}

.image-4 {
  background-image: url(../img/outside/IMG_1286.webp);
}

.image-5 {
  background-image: url(../img/IMG_1299.webp);
}

.image-6 {
  background-image: url(../img/food/IMG_1317_long.webp);
}

.image-7 {
  background-image: url(../img/IMG_1274.webp);
}

.image-8 {
  background-image: url(../img/IMG_1297.webp);
}

/* MOBILE */
.container {
  padding: 5cqw 0;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 10vh;
}

.galleri_desktop {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(30cqw, auto);
  width: 100%;
  height: 90cqw;
  gap: 10px;
  padding-top: 10px;
}
@media (max-width: 799px) {
  .span_1x2 {
    grid-column: span 2;
  }
  .span_1x3 {
    grid-column: span 3;
  }
}

.image {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: flex 0.8s ease;

  &:hover {
    flex: 6;
  }
}

/* DESKTOP */

@media (min-width: 800px) {
  .container {
    padding: 5cqw 0;
    margin: 0 auto;
    max-width: 1200px;
  }

  .galleri_desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35cqw;
    gap: 0px;
    padding-top: 0px;
  }

  .image {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: flex 0.8s ease;

    &:hover {
      flex: 6;
    }
  }
}
