/* BILLEDER */

.image-1 {
  background-image: url(../img/retsaurant/IMG_1313.JPG);
}

.image-2 {
  background-image: url(../img/lanterns/IMG_1281.JPG);
}

.image-3 {
  background-image: url(../img/portrait/IMG_1311_edit.JPG);
}

.image-4 {
  background-image: url(../img/outside/IMG_1286.JPG);
}

.image-5 {
  background-image: url(../img/IMG_1299.JPG);
}

.image-6 {
  background-image: url(../img/food/IMG_1317_long.JPG);
}

.image-7 {
  background-image: url(../img/IMG_1274.JPG);
}

.image-8 {
  background-image: url(../img/IMG_1297.JPG);
}

/* MOBILE */

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .image-1 
start column 1, span 2
start row 1*/

/* .image-2 
start column 3, span 1
start row 1*/

/* .image-3 
start column 1, span 3
start row 2*/

/* .image-4 
start column 1, span 3
start row 3*/

/* .image-5 
start column 1, span 1
start row 4*/

/* .image-6 
start column 2, span 2
start row 4*/

/* .image-7 
start column 1, span 2
start row 5*/

/* .image-8 
start column 3, span 1
start row 5*/

/* DESKTOP */

@media (min-width: 600px) {
  .container {
    padding: 5cqw 0;
    margin: 0 auto;
    max-width: 1200px;
  }

  .galleri_desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35cqw;
  }

  .image {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    /* background-repeat: none; */
    transition: flex 0.8s ease;

    /* her kommer der fejl, kan læse at det er for advanceret til en ren css, men tænker det er okay vi har prøvet at gøre noget lidt ekstra <3 */
    &:hover {
      flex: 6;
    }
  }
}
