/* EMMA */

/* style */
body {
  background-color: #d9caad;
}

h4 {
  font-family: playfair display;
  font-weight: bolder;
  font-size: 28cqw;
  text-align: center;
  color: #323131;
  line-height: 72%;
  margin-top: 40%;
  padding-top: 20px;
}
h2 {
  font-family: playfair display;
  color: #323131;
  font-size: 5cqw;
  margin-top: 5px;
}
h3 {
  font-family: playfair display;
  color: #323131;
  font-size: 3cqw;
  margin-top: 30px;
}
p {
  font-family: poppins;
  font-size: 3cqw;
  text-align: start;
  color: #323131;
  margin-top: 10px;
}

/* layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobil først */

/* menuen */

/* indsæt logo */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Logo til venstre og menu til højre */
  align-items: center;
  color: #323131;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header span,
header button {
  font-size: 15px;
  font-family: poppins;
}

#menuButton {
  background: none;
  border: none;
  color: #323131;
  cursor: pointer;
  font-size: 15px;
  font-family: roboto;
}

#dropdownMenu {
  position: absolute;
  background-color: hsla(40, 37%, 76%, 0.858);
  top: 50px;
  right: 0px;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 20px;
  font-family: poppins;
  display: none; /* Starter skjult */
}

#dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dropdownMenu ul li a {
  display: block;
  padding: 10px;
  color: #323131;
  text-decoration: none;
  font-size: 70px;
  font-weight: bold;
  font-family: poppins;
}

#dropdownMenu ul li a:hover {
  color: #d91414;
}

/* hero section */
.hero {
  height: 100vh;
  padding: 20px;
}

/* forsidebillede */

.baguette {
  display: absolute;
  margin: 20px auto 0;
  max-width: 90%;
  height: 100%;
}

/* pil */

.pil {
  text-decoration: none;
  font-size: 8cqw;
  color: #d91414;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
}

/* tekst */
.indhold {
  padding: 50px;
  line-height: 150%;
}

/* buddha */
.buddha {
  opacity: 15%;
  z-index: 0;
  right: 10px;
  display: overlay;
  max-width: 100%;
  height: 100%;
}
