/* TOKE */

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 800/350;
}

.tempel {
  opacity: 20%;
  aspect-ratio: 369/415.13;
  position: absolute;
  overflow: hidden;
  bottom: -100px;
  height: 900px;
  z-index: -1;
  left: 13rem;
}
