* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --tekstfarve: #5c5c5c;
}

body {
  background-color: rgb(217, 202, 173);
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--tekstfarve);
  font-size: 5cqw;
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--tekstfarve);
  font-size: 4cqw;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--tekstfarve);
  font-size: 3cqw;
}
