* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --tekstfarve: #323131;
}

body {
  background-color: rgb(217, 202, 173);
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--tekstfarve);
  font-size: 5cqw;
  padding-top: 5px;
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--tekstfarve);
  font-size: 4cqw;
}

h3 {
  font-family: "Playfair Display", serif;
  color: var(--tekstfarve);
  font-size: 3cqw;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--tekstfarve);
  font-size: 3cqw;
  text-align: start;
  margin-top: 10px;
}
