/* SEB */
h1 {
  font-size: 7cqw;
  margin-bottom: 30px;
  padding-top: 7vw;
}

h2 {
  font-size: 4.5cqw;
  margin-top: 40px;
  margin-bottom: 40px;
}
p {
  margin-top: 20px;
}

@media (min-width: 800px) {
  .menuer_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  main {
    max-width: 1200px;
    margin: auto;
  }
}
